body {
    /* background: #333333; */
    /* background: #6c6c75; */
    color: black;
    font-size: 1.3em;
    min-height: 100vh;
}

p {
    margin: 25px 0;
}

hr {
    margin: 50px 0;
}

.margin-25-0 {
    margin: 25px 0;
}

.margin-bottom-5px {
    margin-bottom: 5px;
}

.background {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: -1;
}

.gray-banner {
    background: #6c6c75;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
}

.orange-banner {
    background: #f39100;
    height: 230px;
    width: 100%;
}

.orange-ending {
    background: #f39100;
    height: 40px;
    width: 100%;
}

.orange {
    color: #f39100 !important;
}

.black-hover:hover {
    color: black;
}

.black-hover-link:hover :is(img, span) {
    color: black;
}

.gray {
    color: #6c6c75;
}

.black {
    color: black;
}

.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.logo {
    position: absolute;
    top: 100px;
    right: 380px;
    width: 250px;
    z-index: 3;
}

.inner-container {
    padding: 50px;
    background: white;
    min-height: 69vh;
}

.border {
    border: black solid 1px;
}

.orange-border {
    border: #f39100 solid 2px;
    padding: 8px;
}

.navbar-item {
    color: black;
}

.navbar-item:hover {
    color: #f39100 !important;
}

.navbar-brand {
    margin: 0 !important;
}

.box-title {
    font-size: 1.2em;
}

.float-right {
    float: right;
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 12px;
}

.margin-right {
    margin-right: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-400 {
    margin-left: 400px;
}

.card {
    margin-bottom: 15px;
}

.card-header {
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    display: none;
}

#hidden {
    display: none;
}

.icon-for-table {
    width: 60px;
}

.pointer {
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

/* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

/* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 



/* -------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.3rem !important;
        margin-right: 0 !important;
        margin-top: 65px !important;
    }

    li{
        font-size: smaller;
    }

    p {
        margin-left: 15px;
        margin-right: 10px !important;
        font-size: smaller;
        overflow-wrap: break-word;
    }

    img {
        width: 90%;
        margin-left: 15px !important;
    }

    li:not(.download-button) {
        margin-left: 25px;
    }

    .inner-container {
        padding-top: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    .title {
        margin-left: 15px;
    }

    .icon-for-table {
        width: 40px;
    }

    .logo {
        width: 150px;
        right: 15px;
    }

    .orange-banner {
        height: 160px;
    }

    .orange-ending {
        font-size: smaller;
        height: auto;
    }

    .burger-span {
        height: 2px !important;
    }

    .card, .box {
        margin: 10px;
    }

    #language {
        display: none;
    }

    #hidden-mobile {
        display: none;
    }

    #hidden {
        display: unset;
    }
}
